<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <display-name>Test of Maniacal Encodings in the Servlet spec</display-name>

  <servlet>
    <servlet-name>RedirectToResource</servlet-name>
    <servlet-class>org.eclipse.ee4j.tests.RedirectToDefaultResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RedirectToResource</servlet-name>
    <url-pattern>/redir-resource/*</url-pattern>
  </servlet-mapping>

</web-app>